body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.none {
  display: none;
}
.hide {
  display: block;
}
.w100 {
  width: 100%;
}
.well {
  display: block;
}

@media print {
  @page {
    margin: 0;
    padding: 0;
  }
  .chakra-tabs__tablist {
    display: none;
  }
  .noprint {
    display: none;
    position: absolute;
    top: -5000%;
  }
}

.inputcl {
  border-color: #CBD5E0;
  width: 100%;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  font-size: var(--chakra-fontSizes-md);
  -webkit-padding-start: var(--chakra-space-4);
  padding-inline-start: var(--chakra-space-4);
  -webkit-padding-end: var(--number-input-input-padding);
  padding-inline-end: var(--number-input-input-padding);
  height: var(--chakra-sizes-10);
  border-radius: var(--chakra-radii-md);
  vertical-align: top;
  border: 1px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
  border-color: inherit;
  background: inherit;
}
.inputcl:hover {
  border-color: rgba(66, 153, 225, 0.6);
}
.inputcl:focus {
  border: 2px outset;
  border-color: #2b6cb0;
}